/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-card {
  max-width: 560px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}
