<form (ngSubmit)="register()" #registrationForm="ngForm">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control"
               id="email" name="email"
               placeholder="benjamin.morton@potato.uk"
               [(ngModel)]="newUser.email"
               required />
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control"
               id="name" name="name"
               placeholder="Bentato Morte"
               [(ngModel)]="newUser.name" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control"
                id="password" name="password"
                [(ngModel)]="newUser.password"
                required #password="ngModel"/>
    </div>
    <div class="form-group">
        <label for="passwordRepeat">Repeat Password</label>
        <input type="password" class="form-control"
                id="passwordRepeat" name="passwordRepeat"
                [(ngModel)]="newUser.passwordRepeat"
                required />
    </div>
    <button class="btn btn-default"
            [disabled]="!registrationForm.form.valid">Register</button>
</form>
<div *ngIf="error" class="alert alert-danger">Registration failed: {{error}}</div>
