<md-card class="form-card">
  <md-card-title>
    <h2>Register with Aviary</h2>
  </md-card-title>
  <form (ngSubmit)="register()" #registrationForm="ngForm">
  <md-form-field class="form-input">
    <input mdInput
           class="form-control"
           name="email"
           placeholder="Email Address"
           [(ngModel)]="newUser.email"
           #email="ngModel"
           required/>
    <md-error *ngIf="email.invalid">Not a valid email</md-error>
  </md-form-field>
  <md-form-field class="form-input" hintLabel="Must be at least 10 characters long">
    <input mdInput
           type="password"
           class="form-control"
           name="password"
           placeholder="Password"
           [(ngModel)]="newUser.password"
           required
           minlength="10"
           #password="ngModel"/>
    <md-error *ngIf="password.invalid">The password is not long enough.</md-error>
  </md-form-field>
  <md-form-field class="form-input">
    <input mdInput
           type="password"
           class="form-control"
           name="passwordRepeat"
           placeholder="Repeat Password"
           #repeatPassword="ngModel"
           pattern="^{{password.value}}$"
           [(ngModel)]="newUser.passwordRepeat"
           required/>
    <md-error *ngIf="repeatPassword.invalid">Does not match the password</md-error>
  </md-form-field>
  <md-form-field class="form-input">
    <input mdInput
           class="form-control"
           name="firstName"
           placeholder="First Name"
           [(ngModel)]="newUser.firstName"
           required>
  </md-form-field>
  <md-form-field class="form-input">
    <input mdInput
           class="form-control"
           name="lastName"
           placeholder="Last Name"
           [(ngModel)]="newUser.lastName"
           required>
  </md-form-field>
  <md-form-field class="form-input">
    <input mdInput
           [mdDatepicker]="dobDatepicker"
           class="form-control"
           name="dob"
           placeholder="Date of Birth"
           [(ngModel)]="newUser.dob"
           required>
    <md-datepicker-toggle mdSuffix [for]="dobDatepicker"></md-datepicker-toggle>
    <md-datepicker #dobDatepicker startView="year"></md-datepicker>
  </md-form-field>
  <md-form-field class="form-input" hintLabel="This is optional and will only be visible to you.">
    <input mdInput
           class="form-control"
           placeholder="Gender"
           name="gender"
           [(ngModel)]="newUser.gender">
  </md-form-field>
  <button md-raised-button [disabled]="!registrationForm.form.valid">Register</button>
</form></md-card>
<div *ngIf="error" >Registration failed: {{error}}</div>
