<h2 routerLink="/tournaments">Tournaments</h2>
<div class="tournaments-list">
  <md-card *ngFor="let tournament of tournaments" class="tournament">
    <md-card-header>
      <!--TODO image link from the db-->
      <img md-card-avatar src="https://dubrovniktours.tours/admin/kcfinder/upload/images/izlet_19_1496487045.jpg">
      <md-card-title>{{tournament.name}}</md-card-title>
      <md-card-subtitle>{{tournament.size}} teams · {{tournament.location}}</md-card-subtitle>
    </md-card-header>
    <md-card-content class="tournament-body">
      <div>{{tournament.startDate | date}} - {{tournament.endDate | date}}</div>
      <div>{{tournament.description}}</div>
      <div>Register by: {{tournament.registrationDeadline | date}}</div>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="primary">Register</button>
      <button md-raised-button>Apply as manager</button>
      <a md-raised-button [routerLink]="['/', 'tournaments', tournament.id]" >See players</a>
    </md-card-actions>
  </md-card>
</div>
<div *ngIf="!tournaments">Loading...</div>
