<md-card class="form-card">
  <form (ngSubmit)="login()" #loginForm="ngForm" class="form">
    <md-form-field class="form-input">
      <input mdInput
             name="email"
             type="email"
             placeholder="Email Address"
             [(ngModel)]="loginCredentials.email"
             required/>
    </md-form-field>
    <md-form-field class="form-input">
      <input mdInput
             name="password"
             type="password"
             placeholder="Password"
             [(ngModel)]="loginCredentials.password"
             required/>
    </md-form-field>
    <button md-raised-button [disabled]="!loginForm.form.valid">Log in</button>
    <button md-button routerLink="/register">Register</button>
  </form>
  <div class="login-socials">
    <button md-button class="login-social" (click)="googleLogin()">Log in with Google</button>
    <button md-button class="login-social" (click)="facebookLogin()">Log in with Facebook</button>
  </div>
</md-card>
<div *ngIf="error" class="alert alert-danger">Logging in failed: {{error}}</div>
