<div class="header">
    <a routerLink="/dashboard"><img class="logo" src="res/logo.png" alt="BlueHawk Aviary"/></a>
    <current-user class="current-user"></current-user>
</div>
<router-outlet></router-outlet>
<div class="footer">
    <hr />
    <img class="logo" src="res/logo-bh.png" alt="BlueHawk Quidditch Supplies" />
    <div>
        <span>Aviary is a product of BlueHawk Quidditch Supplies</span>
        <br />
        <a routerLink="/about">About Aviary</a>
        <a routerLink="/contact">Contact us</a>
    </div>
    <div>Free Vectors by <a href="http://www.vecteezy.com">vecteezy.com</a></div>
</div>