<div *ngIf="auth.authState | async">
    <a routerLink="/account">
        <div class="status-text">{{(auth | async)?.auth.displayName || (auth | async)?.auth.email}} </div>
    </a>
    <a routerLink="/account">
        <img class="img-circle" alt="user avatar" [src]="(auth | async)?.auth.photoURL || 'assets/avatar (1).jpg'"/>
    </a>
    <div class="btn-group-vertical">
        <button class="btn btn-default" (click)="logout()">Log out</button>
        <button class="btn btn-default" routerLink="/account">Account</button>
    </div>
</div>
<div *ngIf="!(auth.authState | async)">
    <button class="btn btn-default" routerLink="/login" routerLinkActive="hide">Log in</button>
</div>
